<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <servlet>
  <servlet-name>abc</servlet-name>
    <servlet-class>com.ArtWood.servlet.LoginServlet</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>abc</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <!-- Add more welcome files if needed -->
  </welcome-file-list>

</web-app>

